<!DOCTYPE html>
<html>
<head>
  <title>njh2133 Home</title>
  <style type="text/css">
    p.p1 {margin: 0.0px 0.0px 12.0px 0.0px; line-height: 14.0px; font: 16.0px Times; color: #000000; -webkit-text-stroke: #000000}
    span.s1 {font-kerning: none}
  </style>
</head>

<body>
<p style="margin:0.0px 0.0px 12.0px 0.0px; font-size: 30.0px">Nicholas Holfester's <b>Engi1006 </b> Home Page!</p>
<img src="{{url_for('static', filename='njh2133.jpg', width= 350)}}">
<figcaption style="margin-left: 2px; font-size: 14.0px">Pictured: Me with noodles</figcaption>

<p><b>Grade:</b> Sophomore</p>
<p><b>Major:</b> Applied Physics</p>
<p><b>Links</b></p>
<p style="margin-left: 10.0px"><a href="https://phet.colorado.edu/en/simulations/category/physics">A Favorite Website</a></p>
<p style="margin-left: 10.0px"><a href="/weather">Weather</a></p>
<p style="margin-left: 10.0px"><a href="/classes">Classes</a></p>

</body>
</html>

